<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 외부 앱(티맵) 실행 조회 -->
    <queries>
        <package android:name="com.skt.tmap.ku" />
        <package android:name="com.skt.skaf.l001mtm091" />
    </queries>

    <!-- 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Final_Project_Team1"
        android:usesCleartextTraffic="true">

        <!-- ✅ 네이버 맵 키: application 바로 아래에 한 번만 선언 -->
        <meta-data
            android:name="com.naver.maps.map.NCP_KEY_ID"
            android:value="eeh71qt74n" />

        <activity android:name=".ui.SurveyResultActivity" />

        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 지도/AR/경로/리스트 등 -->
        <activity
            android:name=".ui.surveyList.ArActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.surveyList.FullMapActivity" />
        <activity android:name=".ui.surveyList.RouteActivity" />
        <activity android:name=".ui.surveyList.SurveyListActivity" />

        <!-- 카테고리/상태 -->
        <activity android:name=".ui.category.CategoryActivity" />
        <activity android:name=".ui.survey.SurveyStatusActivity" />

        <!-- 조사 입력 화면 -->
        <activity android:name=".ui.EnterActivity" />

        <!-- 필요하면 유지 -->
        <activity android:name=".MainActivity" />

        <activity android:name=".ui.CameraActivity" />

        <activity android:name=".ui.ResultActivity" />

        <activity android:name=".ui.PurposeActivity" />

        <activity android:name=".ui.IdleRatioActivity" />

        <activity android:name=".ui.SafetyGradeActivity" />

        <activity android:name=".ui.ExternalStatusActivity" />

        <activity android:name=".ui.InternalStatusActivity" />

        <activity android:name=".ui.InvestigationActivity" />

        <activity android:name=".ui.EditActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
